@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  .size-screen {
    @apply w-screen h-screen;
  }
}

/* :root {
--background: #ffffff;
  --primary: #fb2c36 
}  */

@theme {
  --color-*: initial;
  --color-white: white;
  --color-black-primary: #000;
  --color-red-primary: #fb2c36;
  --color-gray-primary: #e5e7eb;
  --color-gray-secondary: #d1d5dc;
  --color-gray-tertiary: #364153;
  --color-neutral-primary: #262626;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-black-primary);
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
  --color-*: initial
  --color-white-bg: white; 
  --color-primary-color: #fb2c36;
 
} 
} */

body {
  background: var(--color-white);
  /* color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}
