/* ===========================
   Tailwind Import & Variants
   =========================== */
@import "tailwindcss";

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* ===========================
      Theme Variables
      =========================== */
@theme {
  --color-*: initial;
  --color-white: white;
  --color-black-primary: #000;
  --color-red-primary: #fb2c36;
  --color-gray-primary: #e5e7eb;
  --color-gray-secondary: #d1d5dc;
  --color-gray-tertiary: #364153;
  --color-neutral-primary: #262626;
  --color-neutral-secondary: #57534d;
}

/* ===========================
      Base Styles
      =========================== */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-black-primary);
  }

  body {
    background: var(--color-white);
    /* color: var(--foreground);
       font-family: Arial, Helvetica, sans-serif; */
  }
}

/* ===========================
      Utilities
      =========================== */
@layer utilities {
  .size-screen {
    @apply w-screen ;
    @apply h-screen;
  }
}

@layer utilities {
  .webkit-scrollbar-style {
    @apply [&::-webkit-scrollbar]:h-2.5;
    @apply [&::-webkit-scrollbar-track]:bg-gray-primary;
    @apply [&::-webkit-scrollbar-track]:rounded-md;
    @apply [&::-webkit-scrollbar-thumb]:bg-gray-secondary;
    @apply [&::-webkit-scrollbar-thumb]:rounded-md;
  }
}


/* ===========================
      Dark Mode (optional future use)
      =========================== */
/*
   @media (prefers-color-scheme: dark) {
     :root {
       --color-*: initial;
       --color-white-bg: white; 
       --color-primary-color: #fb2c36;
     }
   }
   */
